@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,600,600i,800,800i|Patua+One &display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* ----- buttons ----- */

button {
    border: 0;
    outline: 0;
    margin-top: 20px;
    background-color: #fcf7bb;
    border-radius: 5px;
}

button:hover {
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 0 10px #2980b9;
    color: #2980b9;
}

.important:hover {
    box-shadow: 0 0 10px #f19292;
    color: #f19292;
}








